.categories {
  &__container {
    height: 100%;
    .row {
      height: calc(100% + 20px);
    }
  }
}
.categories-block {
  font-size: 24px;
  &__container {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  &__bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
  }
  &__sub-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: calc(-0.8em);
    padding: 0.2em 10px 0.2em 10px;
    left: 0;
    z-index: 3;
    text-align: center;
    background-color: #000;
    opacity: 0;
    line-height: 1.2;
    .word {
      white-space: nowrap;
      display: inline-block;
      padding: 0 0.45em;
      line-height: inherit;
    }
    .latter {
      display: inline-block;
      &:not(:last-child) {
        letter-spacing: 0.5em;
      }
    }
  }
  .icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    height: 4.6em;
    margin-top: -2.3em;
    width: 4.6em;
    margin-left: -2.3em;
  }
  &:nth-child(1) {
    .icon {
      width: 5.2em;
      margin-left: -2.6em;
    }
  }
  &:nth-child(3) {
    .categories-block__sub-title {
      margin-top: .7em;
    }
  }
  &:nth-child(4) {
    .icon {
      width: 7.8em;
      margin-left: -3.9em;
    }
  }
  &:nth-child(6) {
    .icon {
      width: 5.4em;
      margin-left: -2.7em;
    }
  }
}

@media screen and(max-width: 1400px) {
  .categories-block {
    font-size: 18px;
  }
}
@media screen and(max-width:1200px) {
  .categories-block {
    font-size: 15px;
    &__sub-title {
      line-height: 1;
      padding: 0 10px .1em 10px;
      margin-top: -0.5em;
      .latter {
        font-size: 0.8em;
        &:not(:last-child) {
          letter-spacing: .3em;
        }
      }
    }
  }
  .categories-block:nth-child(3) {
    .categories-block__sub-title {
      margin-top: 0.5em;
    }
  }
}
@media screen and(max-width:576px) {
  .categories-block {
    font-size: 11px;
    &__container {
      border: 1px solid $border-color;
    }
    &__sub-title {
      padding: 0 10px 0.15em 10px;
      line-height: 0.7em;
      margin-top: -0.45em;
      .word {
        padding: 0 0.15em;
      }
      .latter {
        font-size: 0.6em;
        &:not(:last-child) {
          letter-spacing: .15em;
        }
      }
    }
  }
  .categories-block:nth-child(3) .categories-block__sub-title {
    margin-top: .3em;
  }
}
@media screen and(max-width:370px) {
  .categories-block {
    font-size: 10px;
    &__sub-title {
      padding: 0 10px 0.15em 10px;
      line-height: 0.6em;
      .latter {
        font-size: 0.5em;
      }
    }
  }
}