.test {
  position: relative;
  &__inner {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    &:first-child {
      left: 0;
      background-color: #efefef;
    }
    &:nth-child(2) {
      left: 50%;
      background-color: #101010;
    }
  }
  img {
    position: absolute;
    z-index: 2;
    width: 600px;
    height: auto;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}