.icon {
  width: 50px;
  height: 50px;
  fill: #000;
  stroke: #000;
}
.video-wrapper {
  position: fixed !important;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
	overflow: hidden;
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video-wrapper__content {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	object-fit: cover;
	transform: translate(-50%,-50%);
}
.nav-btn {
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 100;
  overflow: hidden;
  &__inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  &__item {
    display: block;
    position: absolute;
    left: 8px;
    top: 14px;
    width: 100%;
    height: 2px;
    background-color: #000;
    span {
      display: block;
      position: absolute;
      background-color: inherit;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:first-child {
      transform: translateY(-9px);
      span {
        transform: translateX(-8px);
      }
    }
    &:last-child {
      transform: translateY(9px);
      span {
        transform: translateX(-8px);
      }
    }
  }
}
.logo {
  position: absolute;
  left: 70px;
  top: 29px;
  z-index: 100;
  visibility: hidden;
  &__link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    height: 3.15em;
  }
  .icon {
    margin-bottom: -0.1em;
  }
  &__item {
    pointer-events: none;
    &:nth-child(1),
    &:nth-child(6) {
      .icon {
        width: 3.76em;
        height: 3.15em;
      }
    }
    &:nth-child(2) {
      .icon {
        width: 1.98em;
        height: 2.08em;
        margin-left: -0.3em;
        margin-right: 0.2em;
      }
    }
    &:nth-child(3) {
      .icon {
        width: 1.88em;
        height: 2.08em;
        margin-right: 0.3em;
      }
    }
    &:nth-child(4) {
      .icon {
        width: 0.6em;
        height: 2.08em;
        margin-right: 0.3em;
      }
    }
    &:nth-child(5) {
      .icon {
        width: 1.95em;
        height: 2.08em;
        margin-right: 0.15em;
      }
    }
  }
}
.pagination {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  right: 21px;
  margin-top: 15px;
  top: calc(50%);
  transform: translateY(-50%);
  &__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: block;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__link {
    display: block;
    width: 28px;
    height: 28px;
    position: relative;
    .loader {
      position: absolute;
      z-index: 1;
      top: 5px;
      left: 5px;
      display: block;
      width: 18px;
      height: 18px;
      transition: 0.2s;
      transform: scale(0);
      opacity: 0.5;
      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        border-radius: 100%;
        border-top-color: #5f5f5f;
        border-right-color: #5f5f5f;
        box-sizing: border-box;
        animation-name: rotationAnimation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: transparent;
      }
    }
    @keyframes rotationAnimation {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .dot {
      position: absolute;
      z-index: 2;
      width: 8px;
      height: 8px;
      top: 10px;
      left: 10px;
      border-radius: 10px;
      background-color: $border-color;
      display: block;
      transition: background-color 0.2s;
    }
    &:hover {
      .dot {
        background-color: #5f5f5f;
      }
    }
    &.onload {
      .loader {
        transform: scale(1);
        opacity: 1;
      }
      .dot {
        background-color: #5f5f5f;
      }
    }
    &.active {
      pointer-events: none;
      .dot {
        background-color: #000;
      }
    }
  }
}
.link {
  text-decoration: none;
  color: #000;
  outline: none;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}
.lazy {
  display: block;
  min-width: 1px;
  min-height: 1px;
}
.cover-box {
  display: block;
  position: relative;
  .lazy {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wh {
    height:100%!important;
  }
  .ww {
    width:100%!important;
  }
  &_contain {
    background-color: transparent;
    .wh {
      width:100%!important;
      height: auto!important;
    }
    .ww {
      height:100%!important;
      width: auto!important;
    }
  }
  &_size-auto {
    display: flex;
    align-items: center;
    .lazy {
      position: relative;
      left: 0;
      top: 0;
      transform: translate(0);
    }
  }
}
.label-item {
  position: absolute;
  z-index: 100;
  left: 70px;
  bottom: 70px;
  visibility: hidden;
  padding: 10px;
  margin: -10px;
  background-color: #fff;
  &__container {
    display: flex;
    align-items: center;
    text-align: center;
    height: 80px;
    position: relative;
  }
  &__title {
    position: relative;
    z-index: 2;
    background-color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 20px;
    padding: 4px;
  }
  .icon {
    height: 80px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .latter {
    display: inline-block;
    &:not(:last-child) {
      letter-spacing: 0.4em;
    }
  }
  &_graphic {
    .label-item__container {
      height: 110px;
      align-items: flex-end;
    }
  }
}

@media screen and(max-width:1400px) {
  .nav-btn {
    top: 15px;
    right: 5px;
  }
  .pagination {
    right: 16px;
  }
  .logo {
    top: 26px;
    left: 60px;
    &__link {
      font-size: 8.9px;
    }
  }
  .label-item {
    bottom: 50px;
    left: 60px;
    .icon {
      height: 60px;
    }
    &__title {
      font-size: 18px;
      letter-spacing: 0.3em;
    }
    &__container {
      height: 60px;
    }
    &_graphic .label-item__container {
      height: 90px;
    }
  }
}
@media screen and(max-width:1024px) {
  .pagination {
    bottom: 6px;
    top: auto;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    &__list {
      display: flex;
    }
    &__item {
      margin: 0 !important;
    }
  }
  .nav-btn {
    right: 10px;
    top: 10px;
  }
  .logo {
    top: 23.5px;
    left: 20px;
    &__link {
      font-size: 7.35px;
    }
  }
}
@media screen and(max-width:576px) {
  .nav-btn {
    right: 10px;
  }
  .logo {
    left: 20px;
  }
}