@import "./partials/normalize";
@import "./partials/fonts";

$border-color: #E5E5E5;

.stretched {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  body {
    overflow: hidden;
    height: 100%;
  }
  .page-wrapper,
  .main,
  .barba-container,
  .page-block,
  .container {
    height: 100%;
  }
}
body {
  text-rendering: optimizeSpeed;
  color: #000;
  font-family: 'SFProText';
  background-color: #fff;
  height: 100%;
  width: 100%;
  line-height: 1.25;
  min-width: 320px;
}
.page-block {
  padding: 90px 0 60px 0;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  min-height: 450px;
}
.hidden {
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
}


@media screen and(max-width:1400px) {
  .page-block {
    padding: 80px 0 50px 0;
  }
  .container {
    min-height: 370px;
  }
}
@media screen and(max-width:1024px) {
  .container {
    padding: 0 20px;
  }
  .page-block {
    padding: 70px 0 40px 0;
  }
}
@media screen and(max-width:768px) {
  .container {
    min-height: 490px;
  }
}
@media screen and(max-width:576px) {
  .container {
    padding: 0 20px;
    min-height: 390px;
  }
}
//height
@media screen and(max-height:375px) {
  .preloader__image {
    width: 120px;
    height: 120px;
  }
}

@import "./partials/ui";
@import "./partials/grid";
@import "./partials/main";
@import "./partials/categories";

