@import "./partials/normalize";
@import "./partials/fonts";

$border-color: #E5E5E5;

.stretched {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  .page-wrapper,
  .main,
  .barba-container,
  .page-block,
  .container {
    height: 100%;
  }
}
body {
  text-rendering: optimizeSpeed;
  color: #000;
  font-family: 'SFProText';
  background-color: #fff;
  height: 100%;
  width: 100%;
  line-height: 1.25;
  min-width: 320px;
  overflow: hidden;
  height: 100%;
}
.page-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 90px 70px 70px 70px;
  position: relative;
  z-index: 2;
  min-height: 800px;
  &_type-1 {
    display: flex;
    align-items: center;
    .content {
      width: 100%;
      max-height: 800px;
    }
  }
}
.hidden {
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
}


@media screen and(max-width:1640px) {
  .container {
    min-height: 600px;
  }
  .container_type-1 .content {
    max-height: 700px;
  }
}
@media screen and(max-width:1400px) {
  .container {
    padding: 80px 60px 50px 60px;
    min-height: 550px;
  }
  .container_type-1 .content {
    max-height: 600px;
  }
}
@media screen and(max-width:1024px) {
  .container {
    padding: 70px 20px 40px 20px;
  }
}
@media screen and(max-width:768px) {
  .container {
    min-height: 1000px;
  }
  .container_type-1 .content {
    max-height: 1200px;
  }
}
@media screen and(max-width:576px) {
  .container {
    min-height: 500px;
  }
}
//height
@media screen and(max-height:375px) {
  .preloader__image {
    width: 120px;
    height: 120px;
  }
}

@import "./partials/grid";
@import "./partials/ui";
@import "./partials/test";
@import "./partials/text";
@import "./partials/main";
@import "./partials/project";
@import "./partials/categories";

